{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Sign Up</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="wrap d-md-flex">
              <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                <div class="text w-100">
                  <h2>Welcome to Sign-Up</h2>
                  <p>i'm already a member!</p>
                  <a href="{% url 'account_login' %}" class="btn btn-white btn-outline-white">Sign in</a>
                </div>
              </div>
              <div class="login-wrap p-4 p-lg-5">
                <div class="d-flex">
                  <div class="w-100">
                    <h3 class="mb-4">Sign Up</h3>
                  </div>
                </div>
                <form method="POST" action="{% url 'account_signup' %}" class="signup-form">
					{% csrf_token %}
                  <div class="form-group mb-3">
                    <label class="label" for="name">Username</label>
                    <input type="text" name="username" class="form-control" placeholder="Username" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username">
                  </div>
				  <div class="form-group mb-3">
                    <label class="label" for="name">Name</label>
                    <input type="text" name="first_name" class="form-control" placeholder="Username" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username">
                  </div>
				  <div class="form-group mb-3">
                    <label class="label" for="name">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Email address" autocomplete="email" maxlength="320" required="" id="id_email">
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="password">Password</label>
                    <input type="password" name="password1" class="form-control" placeholder="Password" autocomplete="new-password" required="" id="id_password1">
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="password">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" placeholder="Password (again)" autocomplete="new-password" required="" id="id_password2">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/account-main.js' %}"></script>
  </body>
</html>
