{% load static %}
{%load humanize%}
<!-- Recent Posts Section -->
<section id="recent-posts" class="recent-posts section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Recent Posts</h2>
    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      {% for post in posts %}
        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <article>
            <div class="post-img">
              <img src="{{ post.image.url }}" alt="" class="img-fluid" />
            </div>
            {% for cat in post.category.all %}
              <a class="post-category">{{ cat.name }}</a>
              {% if not forloop.last %},{% endif %}
            {% endfor %}
            <h2 class="title"><a href="{% url 'blog:single' pid=post.id %}">{{ post.title }}</a></h2>

            <div class="d-flex align-items-center">
              <div class="post-meta">
                <p class="post-author">{{ post.author.get_full_name }}</p>
                <p class="post-date">
                  <time datetime="2022-01-01">{{ post.pub_date|naturalday }}</time>
                </p>
              </div>
            </div>
          </article>
        </div>
      {% endfor %}
      <!-- End post list item -->
    </div>
    <!-- End recent posts list -->
  </div>
</section>
<!-- /Recent Posts Section -->
