<div class="col-lg-4 sidebar">
  <div class="widgets-container">
    <!-- Recent Posts Widget -->
    <div class="recent-posts-widget widget-item">
      <h3 class="widget-title">Recent Posts</h3>

      <div class="post-item">
        <img src="assets/img/blog/blog-recent-1.jpg" alt="" class="flex-shrink-0" />
        <div>
          <h4><a href="blog-details.html">Nihil blanditiis at in nihil autem</a></h4>
          <time datetime="2020-01-01">Jan 1, 2020</time>
        </div>
      </div>
      <!-- End recent post item -->
    </div>
    <!-- /Recent Posts Widget -->
  </div>
</div>
