{% load static %}
{% load humanize %}
<!-- recent Posts Widget -->
<div class="recent-posts-widget widget-item">
  <h3 class="widget-title">Recent Posts</h3>
  {% for post in posts %}
    <div class="post-item">
      <img src="{{ post.image.url }}" alt="" class="flex-shrink-0" />
      <div>
        <h4><a href="{% url 'blog:single' pid=post.id %}">{{ post.title }}</a></h4>
        <time datetime="2020-01-01">{{ post.pub_date|naturaltime }}</time>
      </div>
    </div>
  {% endfor %}

  <!-- End recent post item -->
</div>
