{% extends "base.html" %}
{% load blog_tags %}
{% load humanize %}
{% load static %}
<!DOCTYPE html>
  {% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Blog Details</h1>
              <p class="mb-0"></p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'website:index' %}">Home</a></li>
            <li><a href="{% url 'blog:main' %}">Blog</a></li>
            <li class="current">Blog Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">

              <article class="article">

                <div class="post-img">
                  <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                </div>

                <h2 class="title">{{post.title}}</h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url "blog:author" author_user=post.author %}">{{post.author}}</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a ><time datetime="2020-01-01">{{post.pub_date|naturalday}}</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a >{{comments|length}}</a></li>
                  </ul>
                </div><!-- End meta top -->

                <div class="content">
                  {{post.content|safe}}
                </div><!-- End post content -->

                <div class="meta-bottom">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    {% for cat in post.category.all %}
                      <li><a href="{% url 'blog:category' cat_name=cat.name%}">{{cat.name}}</a>{% if not forloop.last%},{% endif %}</li>
                    {% endfor %}
                  </ul>

                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                  {% for tag in post.tags.all %}
                    <li><a href="{% url 'blog:tag' tag_name=tag.name%}">{{tag.name}}</a>{% if not forloop.last%},{% endif %}</li>
                  {% endfor %}
                  </ul>
                </div><!-- End meta bottom -->

              </article>

            </div>
          </section><!-- /Blog Details Section -->

          <!-- Blog Author Section -->
          <section id="blog-author" class="blog-author section">

            <div class="container">
              <div class="author-container d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                <div>
                  <h4>{{post.author}}</h4>
                  <div class="social-links">
                    <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                    <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                    <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                  </div>
                  <p>
                    Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                  </p>
                </div>
              </div>
            </div>

          </section><!-- /Blog Author Section -->
          <div class="next-prev">
            {% if prev_post %}
            <a href="{{prev_post.id}}" class="prev">prev post</a>
            {% endif %}
            {% if next_post %}
            <a href="{{next_post.id}}" class="next">Next post</a>
            {% endif %}
          </div>
          <!-- Blog Comments Section -->
          <section id="blog-comments" class="blog-comments section">

            <div class="container">

              <h4 class="comments-count">{{comments|length}} Comments</h4>
              {% for comment in comments%}
                <div id="comment-1" class="comment">
                  <div class="d-flex">
                    <div class="comment-img"><img src="{{post.profile.url}}" alt=""></div>
                    <div>
                      <h5><a href="">{{comment.name}}</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">{{comment.created_date|naturaltime}}</time>
                      {{comment.content}}
                    </div>
                  </div>
                </div><!-- End comment #1 -->
              {% endfor %}
            </div>

          </section><!-- /Blog Comments Section -->

          <!-- Comment Form Section -->
          <section id="comment-form" class="comment-form section">
            <div class="container">

              <form method="post">
                {% csrf_token %}
                <h4>Post Comment</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                {% if request.user.is_authenticated%}
                  <input type="hidden" class="form-control" name="name" value="{{user.first_name}}"/>
                  <input type="hidden" class="form-control" name="email" value="{{user.email}}"/>
                {% else %}
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input name="name" type="text" class="form-control" placeholder="Your Name*">
                    </div>
                    <div class="col-md-6 form-group">
                      <input name="email" type="email" class="form-control" placeholder="Your Email*">
                    </div>
                  </div>
                {% endif %}
                <div class="row">
                  <div class="col form-group">
                    <input name="subject" type="text" class="form-control" placeholder="Subject">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <textarea name="content" class="form-control" placeholder="Your Comment*"></textarea>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Post Comment</button>
                </div>

              </form>

            </div>
          </section><!-- /Comment Form Section -->

        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">
            {% include 'blog/blog_search.html' %}

            {% postcategories %}

            {% blog_latest %}

            {% blog_tags %}
          </div>
      </div>
    </div>

  </main>
  {% endblock %}