{% load static %}
{% load account %}
{% user_display user as user_display %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Cia Cafe</title>
    <meta content="Enjoy freshly brewed coffee, artisanal pastries, and cozy workspaces with free Wi-Fi at Cia Cafe in Abadan. Perfect spot for friends and individuals to unwind." name="description" />
    <meta content="Cia,Cafe,Coffee,Shop" name="keywords" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://themehdimsv.ir/" />
    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    {% compress css %}
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    {% endcompress %}
    {% compress css %}
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
    {% endcompress %}
    {% compress css %}
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    {% endcompress %}
    {% compress css %}
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
    {% endcompress %}
    {% compress css %}
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />
    {% endcompress %}
    <!-- Main CSS File -->
    {% compress css %}
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
    {% endcompress %}
    <!--      =======================================================
  * Template Name: Append
  * Template URL: https://bootstrapmade.com/append-bootstrap-website-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ========================================================      -->
  </head>
  <body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
        <a href="{% url 'website:index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="{% static 'assets/img/logo.png' %}" alt=""> -->
          <h1 class="sitename">Cia Cafe</h1><span>.</span>
        </a>
        <div class="col-lg-6 col-sm-6 col-6 header-top-left">
          <ul>
            {% if request.user.is_authenticated %}
              <li>
                <a href="{% url 'account_login' %}?next={{ request.get_full_path|urlencode }}">Logged In As {{ user_display }}</a>
              </li>
              <li>
                <a href="{% url 'account_logout' %}">Logout</a>
              </li>
            {% endif %}
            {% if not request.user.is_authenticated %}
              <li>
                <a href="{% url 'account_login' %}?next={{ request.get_full_path|urlencode }}">login</a>
              </li>
              <li>
                <a href="{% url 'account_signup' %}">Sign Up</a>
              </li>
            {% endif %}
          </ul>
        </div>
        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a href="{% url 'website:index' %}" class="active">Home</a>
            </li>
            <li>
              <a href="{% url 'website:about' %}">About</a>
            </li>
            <li>
              <a href="{% url 'blog:main' %}">Blog</a>
            </li>
            <li>
              <a href="{% url 'website:contact' %}">Contact</a>
            </li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </header>

    {% block content %}

    {% endblock %}
    <footer id="footer" class="footer position-relative light-background">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="{% url 'website:index' %}" class="logo d-flex align-items-center"><span class="sitename">Cia Cafe</span></a>
            <p>Enjoy a perfect cup made from high-quality beans, brewed fresh for every order.</p>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li>
                <a href="{% url 'website:index' %}">Home</a>
              </li>
              <li>
                <a href="{% url 'website:about' %}">About us</a>
              </li>
              <li>
                <a href="{% url 'website:contact' %}">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>ABADAN</p>
            <p>Brazil</p>
            <p class="mt-4">
              <strong>Phone:</strong> <span>+98 916...</span>
            </p>
            <p>
              <strong>Email:</strong> <span>mehdi.mousavi.rad1@gmail.com</span>
            </p>
          </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span> <strong class="sitename">Cia</strong> <span>All Rights Reserved</span>
        </p>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    {% compress js %}
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    {% endcompress %}

    <!-- Main JS File -->
    {% compress js %}
    <script src="{% static 'assets/js/main.js' %}"></script>
    {% endcompress %}
  </body>
</html>
{% include 'messages.html' %}
